.profile__edit-btn {
  border: none;
  background: url(../../../images/edit.svg) center no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top: 25px;
  margin-left: 200px;
  position: absolute;
  transition: 0.3s;
}
.profile__edit-btn:hover {
  opacity: 0.5;
}
