.profile__add-btn {
  width: 150px;
  height: 50px;
  margin-left: 152px;
  cursor: pointer;
  background-color: black;
  color: white;
  border-width: 2px;
  border-color: white;
  font-size: 36px;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .profile__add-btn {
    margin-left: 5%;
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .profile__add-btn {
    width: 282px;
    margin: 0;
  }
}
.profile__add-btn:hover {
  opacity: 0.5;
}
