.popup__title {
  margin-top: 10px;
  margin-left: 36px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .popup__title {
    margin-left: 10%;
    width: 80%;
  }
}
