.update__delete-btn {
  margin-top: 18px;
  margin-left: -30px;
  border: none;
  background: url(../../../images/trash.png) center no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 15px;
  width: 15px;
  position: absolute;
  opacity: 0.8;
  transition: 0.3s;
}
.update__delete-btn:hover {
  opacity: 0.4;
}
