.profile__edit_btn {
    margin-left: 50px;
    border: none;
    background: url(../../../images/edit.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: absolute;
    transition: 0.3s;
  }

  @media screen and (min-width:0px) and (max-width: 768px) {
    .profile__edit_btn {
      margin-left: 10px;
    }
  }
  .profile__edit_btn:hover {
    opacity: 0.5;
  }
  