.update__liked_btn {
  border: none;
  background: url(../../../images/liked.png) center no-repeat;
  background-size: 100%;
  cursor: pointer;
  position: absolute;
  margin-left: 243px;
  height: 19px;
  width: 19px;
  margin-top: 20px;
}
.update__liked_btn:hover {
  opacity: 0.5;
}
