.edit-profile__close-btn {
  margin-top: -360px;
  margin-left: 430px;
  border: none;
  background: url(../../../images/Closecon.png) center no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: absolute;
  opacity: 1;
  transition: 0.3s;
}@media screen and (min-width:0px) and (max-width: 768px)  {
  .edit-profile__close-btn {
    margin-left: 100%;
  }
}
.edit-profile__close-btn:hover {
  opacity: 0.5;
}