/*.update__image_zoom {
  position: absolute;
  top: 500px;
  left: 300px;
  max-height: 75vh;
  max-width: 75vw;
  
}
/* creo que una vez solucionado el tema de vincular URL con JS tengo que tocar el height y width