.update {
  background-color: black;
  max-width: 882px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 21px;
}

.update__counter {
  color: black;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .update {
    margin-top: 5%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .update {
    margin-top: 5%;
    padding-left: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
