.new-post__url {
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid #000000;
  opacity: 0.2;
  margin-left: 36px;
  margin-top: 30px;
}
.new-post__url:valid {
  border-bottom: 1px solid green;
}
